body{
  color:black;
  background-image: url(img/FundoComida.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:blue;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
img{
    width: 150px;
    height: 150px;
}
a{
    color:black;
    text-decoration: none;
}
.center{
    text-align: center;
    
}